@{


    // styles! this works strangely quite well!
    string body = "background-color: #f2f1f1; height:100%;";
    string font1 = "display:none; visibility:hidden; font-size:1px; color:#f2f1f1;";
    string table1 = " width 100%; border-collapse collapse; height 100%; background-color #fff; max-width 600px; margin-top 5px; margin-left:auto; margin-right:auto; box-shadow:0px 0px 3px rgba(0,0,0,0.1);";
    string @table1tr1 = "height 100px;";


}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name=" viewport">
        <meta content="Peninsula Business services" name=" description">
        <meta http-equiv="X-UA-Compatible" content=" IE=edge"/>
        <title>Peninsula Business services</title>
    </head>

    <body style="@body" bgcolor="#f2f1f1">
        <font style="@font1">Peninsula Business Services now offers a new way to access your documents</font>
        <table style="@table1" bgcolor="#fff">
            <tr style="@table1tr1">
                <td style="" text-align left; padding-left 5px;"" align="" left"">
                    <img src="" http//peninsulabusinesservices.co.uk/images/peninsula_logonew.png"" width=""177px"" height=""103px"" style=""width: 177px; height: 103px; text-align: left;"" title=""peninsula business services"">
                </td>
                <td style="" text-align right; padding-right 10px; vertical-align bottom;"" align="" right"" valign="" bottom""><p style="" color #333; font-size 14px; font-family 'arial' ; font-weight normal;"">EMPLOYERS CALL US ON<br><span style="" color #891439; font-size 27px;""><a href="" tel:0800 028 2420"" style="" color #891439; font-size 27px; text-decoration:none;"">0800 028 2420</a></span></p></td>
            </tr>


        </table>
    </body>
</html>
