<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding 
                  name="BasicHttpBinding_ISpService"
                  maxReceivedMessageSize="20000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://shareuatapp01:2014/SpService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISpService" contract="ServiceReference2.ISpService"
                name="BasicHttpBinding_ISpService" />
        </client>
    </system.serviceModel>
</configuration>