<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">


  <connectionStrings>
    <add name="AdviceEntities"
         connectionString="metadata=res://*/DataModel.AdviceDataModel.csdl|res://*/DataModel.AdviceDataModel.ssdl|res://*/DataModel.AdviceDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=uatsql2\uat;initial catalog=Advice;user id=intranetadmin;password=intadpas;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>


</configuration>